{% extends 'base.html' %} {% load static %} {% block title %}FAQs Smart Solutions4u{% endblock title %} {% block content %}
<!--**********************************
            Content body start
        ***********************************-->
<a id="edgtf-back-to-top" href="#">
  <span class="edgtf-icon-stack">
    <span aria-hidden="true" class="edgtf-icon-font-elegant arrow_up"></span>
  </span>
  <span class="edgtf-icon-stack edgtf-icon-stack-hover">
    <span aria-hidden="true" class="edgtf-icon-font-elegant arrow_up"></span>
  </span>
</a>
<div class="edgtf-content" style="margin-top: -70px">
  <div class="edgtf-content-inner">
    <div
      class="edgtf-title-holder edgtf-centered-type edgtf-preload-background edgtf-has-bg-image edgtf-bg-parallax"
      style="
        height: 470px;
        background-image: url(https://iptvintel.com/contact.jpg);
      "
      data-height="400"
    >
      <div class="edgtf-title-image">
        <img
          itemprop="image"
          src="https://iptvintel.com/contact.jpg"
          alt="a"
        />
      </div>
      <div class="edgtf-title-wrapper">
        <div class="edgtf-title-inner">
          <div class="edgtf-grid">
            <h1 class="edgtf-page-title entry-title" style="color: #000000">
              FAQs Page
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="edgtf-full-width">
      <div class="edgtf-full-width-inner">
        <div class="edgtf-grid-row">
          <div class="edgtf-page-content-holder edgtf-grid-col-12">
            <div
              class="edgtf-row-grid-section-wrapper edgtf-content-aligment-left"
            >
              <div class="edgtf-row-grid-section">
                <div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1510651495568"
                >
                  <div
                    class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-4 vc_col-md-offset-0 vc_col-md-4 vc_col-sm-offset-0 vc_col-xs-12"
                  >
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="edgtf-elements-holder edgtf-one-column edgtf-responsive-mode-768"
                        >
                          <div
                            class="edgtf-eh-item"
                            data-item-class="edgtf-eh-custom-9935"
                            data-768-1024="2px 30% 0 0"
                            data-680-768="4px 30% 0px 0"
                            data-680="0 0 0 0 "
                          >
                            <div class="edgtf-eh-item-inner">
                              <div
                                class="edgtf-eh-item-content edgtf-eh-custom-9935"
                                style="padding: 0 0 58px 0"
                              >
                                <div
                                  class="wpb_text_column wpb_content_element"
                                >
                                  <div class="wpb_wrapper">
                                    <h2>Frequently asked questions</h2>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-8 vc_col-md-offset-0 vc_col-md-8 vc_col-sm-offset-0 vc_col-xs-12"
                  >
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="edgtf-elements-holder edgtf-one-column edgtf-responsive-mode-768"
                        >
                          <div
                            class="edgtf-eh-item"
                            data-item-class="edgtf-eh-custom-6308"
                            data-1024-1280="0 0 59px 10%"
                            data-768-1024="0px 0% 58px 6%"
                            data-680-768="0 0 58px 0"
                            data-680="2px 0 58px 0"
                          >
                            <div class="edgtf-eh-item-inner">
                              <div
                                class="edgtf-eh-item-content edgtf-eh-custom-6308"
                                style="padding: 0 0 58px 11%"
                              >
                                <div
                                  class="wpb_text_column wpb_content_element vc_custom_1510234082105"
                                >
                                  <div class="wpb_wrapper">
                                    <p>
                                      <span
                                        style="
                                          font-size: 18px;
                                          line-height: 33px;
                                        "
                                        ><br />
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="edgtf-row-grid-section-wrapper">
              <div class="edgtf-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid">
                  <div
                    class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12"
                  >
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="edgtf-accordion-holder edgtf-ac-default edgtf-accordion clearfix"
                        >
                          <div style=" ;">
                            <h5 class="edgtf-accordion-title" style=" ;">
                              <span class="edgtf-accordion-mark">
                                <span class="edgtf_icon_plus fa fa-plus"></span>
                                <span
                                  class="edgtf_icon_minus fa fa-minus"
                                ></span>
                              </span>
                              <span class="edgtf-tab-title"
                                >How much is the upfont fees?</span
                              >
                            </h5>
                          </div>
                          <div class="edgtf-accordion-content">
                            <div class="edgtf-accordion-content-inner">
                              <div class="wpb_text_column wpb_content_element">
                                <div class="wpb_wrapper">
                                  <p>We do not charge up Upfront Fees for any given service provided by us. We thrive in honesty and transparency.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div style=" ;">
                            <h5 class="edgtf-accordion-title" style=" ;">
                              <span class="edgtf-accordion-mark">
                                <span class="edgtf_icon_plus fa fa-plus"></span>
                                <span
                                  class="edgtf_icon_minus fa fa-minus"
                                ></span>
                              </span>
                              <span class="edgtf-tab-title"
                                >How much is consultation fees</span
                              >
                            </h5>
                          </div>
                          <div class="edgtf-accordion-content">
                            <div class="edgtf-accordion-content-inner">
                              <div class="wpb_text_column wpb_content_element">
                                <div class="wpb_wrapper">
                                  <p>We do not charge for consultation. It is absolutly Free for any one!. Reach-out to our service desk at any time by Email:<span class="plus"></span></span></a><a href="mailto:ServiceDesk@smartsolutions4u.com?cc=teams@smartsolutions4u.com&bcc=help@smartsolutions4u.com
									&subject=The%20subject%20of%20the%20email
									&body=Enter%20what%20you%20would%20like%20us%20to%20help%20you%20with"> Service Desk</a></p> </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div style=" ;">
                            <h5 class="edgtf-accordion-title" style=" ;">
                              <span class="edgtf-accordion-mark">
                                <span class="edgtf_icon_plus fa fa-plus"></span>
                                <span
                                  class="edgtf_icon_minus fa fa-minus"
                                ></span>
                              </span>
                              <span class="edgtf-tab-title"
                                >Do you offer support ?</span
                              >
                            </h5>
                          </div>
                          <div class="edgtf-accordion-content">
                            <div class="edgtf-accordion-content-inner">
                              <div class="wpb_text_column wpb_content_element">
                                <div class="wpb_wrapper">
                                  <p> We offer both Onsite and Remote Support to all our clients.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="vc_empty_space" style="height: 61px">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12"
                  >
                    <div class="vc_column-inner vc_custom_1510650772643">
                      <div class="wpb_wrapper">
                        <div class="edgtf-single-image-holder">
                          <div class="edgtf-si-inner">
                            <img
                              width="800"
                              height="550"
                              src="{% static 'wp-content/uploads/2017/10/f-img-1.jpg'%}"
                              class="attachment-full size-full"
                              alt="k"
                              loading="lazy"
                              srcset="
                                {% static 'wp-content/uploads/2017/10/f-img-1.jpg'%}         800w,
                                {% static 'wp-content/uploads/2017/10/f-img-1-630x433.jpg'%} 630w,
                                {% static 'wp-content/uploads/2017/10/f-img-1-300x206.jpg'%} 300w,
                                {% static 'wp-content/uploads/2017/10/f-img-1-768x528.jpg'%} 768w
                              "
                              sizes="(max-width: 800px) 100vw, 800px"
                            />
                          </div>
                        </div>
                        <div class="vc_empty_space" style="height: 61px">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="edgtf-row-grid-section-wrapper">
              <div class="edgtf-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid">
                  <div
                    class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12"
                  >
                    <div class="vc_column-inner vc_custom_1510233127858">
                      <div class="wpb_wrapper">
                        <div class="edgtf-single-image-holder">
                          <div class="edgtf-si-inner">
                            <img
                              width="800"
                              height="550"
                              src="{% static 'wp-content/uploads/2017/10/f-img-2.jpg'%}"
                              class="attachment-full size-full"
                              alt="k"
                              loading="lazy"
                              srcset="
                                {% static 'wp-content/uploads/2017/10/f-img-2.jpg'%}         800w,
                                {% static 'wp-content/uploads/2017/10/f-img-2-630x433.jpg'%} 630w,
                                {% static 'wp-content/uploads/2017/10/f-img-2-300x206.jpg'%} 300w,
                                {% static 'wp-content/uploads/2017/10/f-img-2-768x528.jpg'%} 768w
                              "
                              sizes="(max-width: 800px) 100vw, 800px"
                            />
                          </div>
                        </div>
                        <div class="vc_empty_space" style="height: 61px">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12"
                  >
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="edgtf-accordion-holder edgtf-ac-default edgtf-accordion clearfix"
                        >
                          <div
                            style="color: #0d0d0d; background-color: #ffef3c"
                          >
                            <h5
                              class="edgtf-accordion-title edgtf-custom-color"
                              style="color: #0d0d0d; background-color: #ffef3c"
                            >
                              <span class="edgtf-accordion-mark">
                                <span class="edgtf_icon_plus fa fa-plus"></span>
                                <span
                                  class="edgtf_icon_minus fa fa-minus"
                                ></span>
                              </span>
                              <span class="edgtf-tab-title"
                                >What are the payment methods available?</span
                              >
                            </h5>
                          </div>
                          <div class="edgtf-accordion-content">
                            <div class="edgtf-accordion-content-inner">
                              <div class="wpb_text_column wpb_content_element">
                                <div class="wpb_wrapper">
                                  <p>We currently have Paypal transfers, Mobile payments (Airtel money and Mpesa) and Electronic bank transfers.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            style="color: #0d0d0d; background-color: #ffef3c"
                          >
                            <h5
                              class="edgtf-accordion-title edgtf-custom-color"
                              style="color: #0d0d0d; background-color: #ffef3c"
                            >
                              <span class="edgtf-accordion-mark">
                                <span class="edgtf_icon_plus fa fa-plus"></span>
                                <span
                                  class="edgtf_icon_minus fa fa-minus"
                                ></span>
                              </span>
                              <span class="edgtf-tab-title"
                                >Which countries do you opperate from ?</span
                              >
                            </h5>
                          </div>
                          <div class="edgtf-accordion-content">
                            <div class="edgtf-accordion-content-inner">
                              <div class="wpb_text_column wpb_content_element">
                                <div class="wpb_wrapper">
                                  <p>Rwanda, Tanzania, Malawi, South Africa, Zambia, Kenya, Uganda, UK, USA, UAE, Qatar,
									   Oman, Saudi Arabia, Democratic Republic of Congo (DRC), Egypt, Ghana, Lesotho and Mozambique.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            style="color: #0d0d0d; background-color: #ffef3c"
                          >
                            <h5
                              class="edgtf-accordion-title edgtf-custom-color"
                              style="color: #0d0d0d; background-color: #ffef3c"
                            >
                              <span class="edgtf-accordion-mark">
                                <span class="edgtf_icon_plus fa fa-plus"></span>
                                <span
                                  class="edgtf_icon_minus fa fa-minus"
                                ></span>
                              </span>
                              <span class="edgtf-tab-title"
                                >How do I get started ?</span
                              >
                            </h5>
                          </div>
                          <div class="edgtf-accordion-content">
                            <div class="edgtf-accordion-content-inner">
                              <div class="wpb_text_column wpb_content_element">
                                <div class="wpb_wrapper">
                                  <p>You can easily get started by either filling this 👉<a href="#" class="">
									  <span class="item_outer"><span class="item_text"> form</span>
									  <span class="plus"></span></span></a> or sending us a detailed email to <a href="mailto:getstarted@smartsolutions4u.com?cc=teams@smartsolutions4u.com&bcc=help@smartsolutions4u.com
									  &subject=The%20subject%20of%20the%20email
									  &body=Enter%20what%20you%20would%20like%20us%20to%20help%20you%20with">getstarted@smartsolutions4u.com</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="vc_empty_space" style="height: 61px">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="edgtf-row-grid-section-wrapper">
              <div class="edgtf-row-grid-section">
                <div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1510915770467"
                >
                  <div
                    class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12"
                  >
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="edgtf-accordion-holder edgtf-ac-default edgtf-accordion clearfix"
                        >
                          <div style=" ;">
                            <h5 class="edgtf-accordion-title" style=" ;">
                              <span class="edgtf-accordion-mark">
                                <span class="edgtf_icon_plus fa fa-plus"></span>
                                <span
                                  class="edgtf_icon_minus fa fa-minus"
                                ></span>
                              </span>
                              <span class="edgtf-tab-title"
                                >Are there any job openings ?</span
                              >
                            </h5>
                          </div>
                          <div class="edgtf-accordion-content">
                            <div class="edgtf-accordion-content-inner">
                              <div class="wpb_text_column wpb_content_element">
                                <div class="wpb_wrapper">
                                  <p>We are constantly looking for top skilled programmers, graphic designers and social media managers. We are constantly growing our team so we
									   can serve our clients better and meet emerging market needs.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div style=" ;">
                            <h5 class="edgtf-accordion-title" style=" ;">
                              <span class="edgtf-accordion-mark">
                                <span class="edgtf_icon_plus fa fa-plus"></span>
                                <span
                                  class="edgtf_icon_minus fa fa-minus"
                                ></span>
                              </span>
                              <span class="edgtf-tab-title"
                                >How we help business?</span
                              >
                            </h5>
                          </div>
                          <div class="edgtf-accordion-content">
                            <div class="edgtf-accordion-content-inner">
                              <div class="wpb_text_column wpb_content_element">
                                <div class="wpb_wrapper">
                                  <p>We go the extra mile to 100% satisfy the client and ensure project success. 
									  With our team of experienced professionals and skilled developers, graphic designers and team players 
									  we guarantee you the best from the best.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div style=" ;">
                            <h5 class="edgtf-accordion-title" style=" ;">
                              <span class="edgtf-accordion-mark">
                                <span class="edgtf_icon_plus fa fa-plus"></span>
                                <span
                                  class="edgtf_icon_minus fa fa-minus"
                                ></span>
                              </span>
                              <span class="edgtf-tab-title"
                                >Our value propositions ?</span
                              >
                            </h5>
                          </div>
                          <div class="edgtf-accordion-content">
                            <div class="edgtf-accordion-content-inner">
                              <div class="wpb_text_column wpb_content_element">
                                <div class="wpb_wrapper">
                                  <p>We run a great team of designers and developers who are dedicatated and passionate 
									  and hold proven track records from the best institutions countrywide. Our quality 
									  is unbeatable you will definately like each and every design we make. 
									  we guarantee quality of work and service 100%. We are good at what we do.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="vc_empty_space" style="height: 61px">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12"
                  >
                    <div class="vc_column-inner vc_custom_1510233147849">
                      <div class="wpb_wrapper">
                        <div class="edgtf-single-image-holder">
                          <div class="edgtf-si-inner">
                            <img
                              width="800"
                              height="550"
                              src="{% static 'wp-content/uploads/2017/10/f-img-3.jpg'%}"
                              class="attachment-full size-full"
                              alt="k"
                              loading="lazy"
                              srcset="
                                {% static 'wp-content/uploads/2017/10/f-img-3.jpg'%}         800w,
                                {% static 'wp-content/uploads/2017/10/f-img-3-630x433.jpg'%} 630w,
                                {% static 'wp-content/uploads/2017/10/f-img-3-300x206.jpg'%} 300w,
                                {% static 'wp-content/uploads/2017/10/f-img-3-768x528.jpg'%} 768w
                              "
                              sizes="(max-width: 800px) 100vw, 800px"
                            />
                          </div>
                        </div>
                        <div class="vc_empty_space" style="height: 61px">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
