{% extends 'base.html' %} {% load static %} {% block title %} Smart Solutions4u
{% endblock title %} {% block content %}
<!--**********************************
Content body start
***********************************-->
<a id="edgtf-back-to-top" href="#">
  <span class="edgtf-icon-stack">
    <span aria-hidden="true" class="edgtf-icon-font-elegant arrow_up"></span>
  </span>
  <span class="edgtf-icon-stack edgtf-icon-stack-hover">
    <span aria-hidden="true" class="edgtf-icon-font-elegant arrow_up"></span>
  </span>
</a>
<div class="edgtf-content" style="margin-top: -70px">
  <div class="edgtf-content-inner">
    <div
      class="edgtf-title-holder edgtf-centered-type edgtf-preload-background edgtf-has-bg-image edgtf-bg-parallax"
      style="
        height: 590px;
        background-image: url(https://iptvintel.com/img.jpg);
      "
      data-height="520"
    >
      <div class="edgtf-title-image">
        <img itemprop="image" src="https://iptvintel.com/img.jpg" alt="k" />
      </div>
      <div class="edgtf-title-wrapper">
        <div class="edgtf-title-inner">
          <div class="edgtf-grid">
            {% if name %}
            <h4 style="color: #00000">Hello {{ name }}</h4>
            
            <h4 style="color: #00000">we have gladly received your request"</h4>
            {% else %}
            <h1 class="edgtf-page-title entry-title" style="color: #00000">
              Hire an Expert
            </h1>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!--**********************************
                Content body start
            ***********************************-->
    <a id="edgtf-back-to-top" href="#">
      <span class="edgtf-icon-stack">
        <span
          aria-hidden="true"
          class="edgtf-icon-font-elegant arrow_up"
        ></span>
      </span>
      <span class="edgtf-icon-stack edgtf-icon-stack-hover">
        <span
          aria-hidden="true"
          class="edgtf-icon-font-elegant arrow_up"
        ></span>
      </span>
    </a>
    <div class="edgtf-content" style="margin-top: -70px">
      <div class="edgtf-content-inner">
        <div class="edgtf-full-width">
          <div class="edgtf-full-width-inner">
            <div class="edgtf-grid-row">
              <div class="edgtf-page-content-holder edgtf-grid-col-12">
                <div
                  class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"
                >
                  <div
                    class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-4 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12 vc_col-has-fill"
                  >
                    <div
                      class="vc_column-inner vc_custom_1510238664547"
                      style="background-color: #ffe625"
                    >
                      <div class="wpb_wrapper">
                        <div
                          class="edgtf-elements-holder edgtf-one-column edgtf-responsive-mode-768"
                        >
                          <div
                            class="edgtf-eh-item edgtf-horizontal-alignment-center"
                            data-item-class="edgtf-eh-custom-2852"
                            data-1280-1600="0px 0 26px 3%"
                            data-1024-1280="0px 0 26px 3.5%"
                            data-768-1024="91px 0 117px 0"
                            data-680-768="91px 0 117px 0"
                            data-680="50px 0 72px 0"
                          >
                            <div class="edgtf-eh-item-inner">
                              <div
                                class="edgtf-eh-item-content edgtf-eh-custom-2852"
                                style="padding: 0px 0 26px 2%"
                              >
                                <div
                                  class="wpb_text_column wpb_content_element"
                                >
                                  <div class="wpb_wrapper">
                                    <h1>WHY CHOOSE US?</h1>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-4 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12"
                  >
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="edgtf-elements-holder edgtf-one-column edgtf-responsive-mode-768"
                        >
                          <div
                            class="edgtf-eh-item"
                            data-item-class="edgtf-eh-custom-3956"
                            data-1280-1600="20px 6% 0 6%"
                            data-1024-1280="20px 6.8% 0 6.8%"
                            data-768-1024="132px 12% 105px 12%"
                            data-680-768="132px 10% 105px 10%"
                            data-680="83px 10% 54px 10%"
                          >
                            <div class="edgtf-eh-item-inner">
                              <div
                                class="edgtf-eh-item-content edgtf-eh-custom-3956"
                                style="padding: 20px 10% 0 10%"
                              >
                                <div class="edgtf-progress-bar">
                                  <h5 class="edgtf-pb-title-holder">
                                    <span class="edgtf-pb-title"
                                      >We are Committed to delivering the
                                      highest quality product to our
                                      clients.</span
                                    >
                                    <span class="edgtf-pb-percent">0</span>
                                  </h5>
                                  <div
                                    class="edgtf-pb-content-holder"
                                    style="background-color: #eeeeee"
                                  >
                                    <div
                                      data-percentage="100"
                                      class="edgtf-pb-content"
                                      style="background-color: #26ccca"
                                    ></div>
                                  </div>
                                </div>
                                <div class="edgtf-progress-bar">
                                  <h5 class="edgtf-pb-title-holder">
                                    <span class="edgtf-pb-title"
                                      >We Provide support and maintenance
                                      services to our clients</span
                                    >
                                    <span class="edgtf-pb-percent">0</span>
                                  </h5>
                                  <div
                                    class="edgtf-pb-content-holder"
                                    style="background-color: #eeeeee"
                                  >
                                    <div
                                      data-percentage="100"
                                      class="edgtf-pb-content"
                                      style="background-color: #000000"
                                    ></div>
                                  </div>
                                </div>
                                <div class="edgtf-progress-bar">
                                  <h5 class="edgtf-pb-title-holder">
                                    <span class="edgtf-pb-title"
                                      >You Save time, money and minimize errors
                                      in your product development</span
                                    >
                                    <span class="edgtf-pb-percent">0</span>
                                  </h5>
                                  <div
                                    class="edgtf-pb-content-holder"
                                    style="background-color: #eeeeee"
                                  >
                                    <div
                                      data-percentage="100"
                                      class="edgtf-pb-content"
                                      style="background-color: #ffed22"
                                    ></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-4 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12 vc_col-has-fill"
                  >
                    <div
                      class="vc_column-inner vc_custom_1510238674117"
                      style="background-color: #f9f9f9"
                    >
                      <div class="wpb_wrapper">
                        <div
                          class="edgtf-elements-holder edgtf-one-column edgtf-responsive-mode-768"
                        >
                          <div
                            class="edgtf-eh-item"
                            data-item-class="edgtf-eh-custom-9105"
                            data-1280-1600="70px 5% 129px 6%"
                            data-1024-1280="39px 11% 97px 6.5%"
                            data-768-1024="37px 29% 94px 12%"
                            data-680-768=" 32px 20% 96px 10%"
                            data-680="37px 5% 96px 10%"
                          >
                            <div class="edgtf-eh-item-inner">
                              <div
                                class="edgtf-eh-item-content edgtf-eh-custom-9105"
                                style="padding: 105px 6% 164px 10%"
                              >
                                <div
                                  class="wpb_text_column wpb_content_element"
                                >
                                  <div class="wpb_wrapper">
                                    <h3>Our commitment</h3>
                                  </div>
                                </div>
                                <div
                                  class="vc_empty_space"
                                  style="height: 12px"
                                >
                                  <span class="vc_empty_space_inner"></span>
                                </div>
                                <div
                                  class="wpb_text_column wpb_content_element"
                                >
                                  <div class="wpb_wrapper">
                                    <p>
                                      We are dedicated to help you build the
                                      application and technologies that meet
                                      your business aspirations. They know the
                                      latest versions and libraries and can
                                      integrate technologies to satisfy your
                                      expectations.
                                    </p>
                                  </div>
                                </div>
                                <div
                                  class="vc_empty_space"
                                  style="height: 41px"
                                >
                                  <span class="vc_empty_space_inner"></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                class="vc_empty_space"
                style="height: 41px"
              >
                <span class="vc_empty_space_inner"></span>
              </div>
                <div class="edgtf-full-width">
                  <div class="edgtf-full-width-inner">
                    <div class="edgtf-grid-row">
                      <div class="edgtf-page-content-holder edgtf-grid-col-12">
                        <div
                          class="vc_row wpb_row vc_row-fluid vc_custom_1510750270040 edgtf-content-aligment-left"
                        >
                          <div
                            class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12"
                          >
                            <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                <div
                                  class="edgtf-background-subtitle edgtf-align-left edgtf-rotate edgtf-animate"
                                  style="
                                    color: rgba(17, 17, 17, 0.03);
                                    left: -25%;
                                    top: 21%;
                                    font-size: 240px;
                                  "
                                  id="edgtf-background-subtitle-407"
                                  data-font-size="200px"
                                  data-horizontal-offset="-37%"
                                  data-vertical-offset="39%"
                                >
                                  <div class="edgtf-background-subtitle-inner">
                                    OFFICE
                                  </div>
                                </div>
                                <div
                                  class="edgtf-elements-holder edgtf-one-column edgtf-responsive-mode-1280"
                                >
                                  <div
                                    class="edgtf-eh-item"
                                    data-item-class="edgtf-eh-custom-9709"
                                    data-1280-1600="0px 5% 0 20.5%"
                                    data-1024-1280="0px 4% 0 16%"
                                    data-768-1024="0px 18% 0 10.5%"
                                    data-680-768="0px 9% 0 10%"
                                    data-680="0px 0% 0 9%"
                                  >
                                    <div class="edgtf-eh-item-inner">
                                      <div
                                        class="edgtf-eh-item-content edgtf-eh-custom-9709"
                                        style="padding: 0px 5% 0 28%"
                                      >
                                        <div
                                          class="wpb_text_column wpb_content_element"
                                        >
                                          <div class="wpb_wrapper">
                                            {% if name %}
                                            <h2 style="color: #00000">
                                              Hello {{ name }}
                                            </h2>
                                            <h4 style="color: #00000">
                                              "Thank you {{ name }} for reaching
                                              out to us. We value you as our
                                              client. We are the BEST and GOOD
                                              at what we do. We got you covered
                                              with whatever you need"
                                            </h4>
                                            {% else %}
                                            <h3>
                                              HIRE THE BEST DEVELOPER
                                            </h3>
                                            <h3>
                                              Start your project within 7 days
                                            </h3>
                                            <h4>
                                              Save time, money and minimize
                                              errors in your website development
                                              techniques by leveraging our team
                                              of experienced
                                              developers.
                                            </h4>
                                            
                                          </div>
                                        </div>

                                        <div
                                          class="vc_empty_space"
                                          style="height: 61px"
                                        >
                                          <span
                                            class="vc_empty_space_inner"
                                          ></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="edgtf-elements-holder edgtf-two-columns edgtf-responsive-mode-680 edgtf-one-column-alignment-left"
                                >
                                  <div
                                    class="edgtf-eh-item"
                                    data-item-class="edgtf-eh-custom-8642"
                                    data-1280-1600="0px 0% 0 41%"
                                    data-1024-1280="0px 0% 0 31.5%"
                                    data-768-1024="0px 0% 57px 21%"
                                    data-680-768="0 0 57px 20%"
                                    data-680="1px 0% 0 8%"
                                  >
                                    <div class="edgtf-eh-item-inner">
                                      <div
                                        class="edgtf-eh-item-content edgtf-eh-custom-8642"
                                        style="padding: 0 0% 0 56%"
                                      >
                                        <div
                                          class="wpb_text_column wpb_content_element"
                                        >
                                          <div class="wpb_wrapper">
                                            <h5>
                                              <a
                                                target="_blank"
                                                rel="noopener noreferrer"
                                                >Start your project within 7
                                                days</a
                                              >
                                            </h5>
                                            <h5>
                                              <a href="tel:+ 075512-2579"
                                                >(+254) 5512-2579</a
                                              >
                                            </h5>
                                            <h5>
                                              <a>info@smartsolutions4u.com</a>
                                            </h5>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12"
                          >
                            <div
                              class="vc_column-inner vc_custom_1510749201495"
                            >
                              <div class="wpb_wrapper">
                                <div
                                  class="wpb_text_column wpb_content_element vc_custom_1509537118802"
                                >
                                  <div class="wpb_wrapper">
                                    <h4>Hire an APP developer</h4>
                                  </div>
                                </div>
                                <div
                                  class="vc_empty_space"
                                  style="height: 24px"
                                >
                                  <span class="vc_empty_space_inner"></span>
                                </div>
                                <div
                                  role="form"
                                  class="wpcf7"
                                  lang="en-US"
                                  dir="ltr"
                                >
                                  <div class="screen-reader-response">
                                    <p
                                      role="status"
                                      aria-live="polite"
                                      aria-atomic="true"
                                    ></p>
                                    <ul></ul>
                                  </div>
                                  <div class="row">
                                    <form
                                      action="/Mobile_app_request"
                                      method="post"
                                      enctype="multipart/form-data"
                                    >
                                      {% csrf_token %}
                                      <div>
                                        <div
                                          class="edgtf-grid-row edgtf-grid-small-gutter"
                                        >
                                          <div class="edgtf-grid-col-6">
                                            <span
                                              class="wpcf7-form-control-wrap edgtf-name"
                                            >
                                              <input
                                                type="text"
                                                name="name"
                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                aria-required="true"
                                                placeholder="Your Name/Business Name"
                                              />
                                            </span>
                                          </div>
                                          <div class="edgtf-grid-col-6">
                                            <span
                                              class="wpcf7-form-control-wrap edgtf-email"
                                            >
                                              <input
                                                type="email"
                                                name="email"
                                                placeholder="Your/business Email"
                                              />
                                            </span>
                                          </div>
                                        </div>
                                        <div class="edgtf-grid-row">
                                          <div class="edgtf-grid-col-12">
                                            <span
                                              class="wpcf7-form-control-wrap edgtf-email"
                                            >
                                              <style>
                                                .form-control {
                                                  background-color: #FCFCFC;
                                                  border: 1px solid #fff;
                                                  caret-color: #fff;
                                                  color: #fff;
                                                  height: 45px;
                                                  margin-top: 14px;
                                                }

                                                .form-control:focus {
                                                  background-color: #FCFCFC;
                                                  box-shadow: none;
                                                  border: 1px solid #fff;
                                                  color: #fff;
                                                }

                                                .form-select {
                                                  background-color: #FCFCFC;
                                                  border: 1px solid #000000;
                                                  color: #000000;
                                                  font-size: 15px;
                                                  height: 45px;
                                                }

                                                .form-select:focus {
                                                  box-shadow: none;
                                                  border: 1px solid #fff;
                                                }
                                              </style>
                                              <select
                                                class="form-select mt-3 form-select-lg mb-3"
                                                name="hire"
                                                id="hire"
                                              >
                                                <option  value="Mobile App developer but did not choose" ></option>
                                                <option
                                                  value="Android App Developer"
                                                >
                                                  Android App Developer
                                                </option>
                                                <option
                                                  value="IOS App Developer"
                                                >
                                                  IOS App Developer
                                                </option>
                                                
                                              </select>
                                            </span>
                                          </div>
                                        </div>
                                        <div
                                  class="vc_empty_space"
                                  style="height: 39px"
                                >
                                  <span class="vc_empty_space_inner"></span>
                                </div>
                                        <div class="edgtf-grid-row">
                                          <div class="edgtf-grid-col-12">
                                            <span
                                              class="wpcf7-form-control-wrap edgtf-comment"
                                            >
                                              <textarea
                                                name="message"
                                                cols="40"
                                                rows="10"
                                                class="wpcf7-form-control wpcf7-textarea"
                                                placeholder="Brief intro on you website project/idea"
                                              ></textarea>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                      <input
                                        type="submit"
                                        value="Submit"
                                        class="wpcf7-form-control has-spinner wpcf7-submit"
                                      />
                                    </form>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="vc_empty_space" style="height: 61px">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1509980326214"
                >
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="edgtf-elements-holder edgtf-two-columns edgtf-responsive-mode-1024"
                        >
                          <div
                            class="edgtf-eh-item"
                            data-item-class="edgtf-eh-custom-2012"
                            data-768-1024="0 16% 18% 10%"
                            data-680-768="0 21% 14% 10%"
                            data-680="0 4% 20% 5%"
                          >
                            <div class="edgtf-eh-item-inner">
                              <div
                                class="edgtf-eh-item-content edgtf-eh-custom-2012"
                                style="padding: 0 19% 14% 9%"
                              >
                                <div
                                  class="wpb_text_column wpb_content_element"
                                >
                                  <div class="wpb_wrapper">
                                    <h2>
                                      We are experts building the best
                                      <span
                                        class="edgtf-animate-text"
                                        style="color: #26ccca"
                                        >Android 
                                      </span>
                                      and
                                      <span
                                        class="edgtf-animate-text"
                                        style="color: #26ccca"
                                      >IOS </span
                                      > Apps
                                    </h2>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="edgtf-eh-item"
                            data-item-class="edgtf-eh-custom-2374"
                            data-768-1024="0 0 9%"
                            data-680-768="0 0 10%"
                            data-680="0 0 22%"
                          >
                            <div class="edgtf-eh-item-inner">
                              <div
                                class="edgtf-eh-item-content edgtf-eh-custom-2374"
                                style="padding: 0 0 7%"
                              >
                                <div
                                  class="edgtf-clients-carousel-holder edgtf-cc-hover-roll-over"
                                >
                                  <div
                                    class="edgtf-cc-inner edgtf-owl-slider"
                                    data-number-of-items="3"
                                    data-enable-loop="yes"
                                    data-enable-autoplay="yes"
                                    data-slider-speed="3000"
                                    data-slider-speed-animation="600"
                                    data-enable-navigation="no"
                                    data-enable-pagination="no"
                                  >
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h8-carousel-img-1.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h8-carousel-img-1.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h8-carousel-img-2.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h8-carousel-img-2.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h8-carousel-img-3.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h8-carousel-img-3.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="vc_empty_space"
                                  style="height: 54px"
                                >
                                  <span class="vc_empty_space_inner"></span>
                                </div>
                                <div
                                  class="edgtf-clients-carousel-holder edgtf-cc-hover-roll-over"
                                >
                                  <div
                                    class="edgtf-cc-inner edgtf-owl-slider"
                                    data-number-of-items="3"
                                    data-enable-loop="yes"
                                    data-enable-autoplay="yes"
                                    data-slider-speed="5000"
                                    data-slider-speed-animation="600"
                                    data-enable-navigation="no"
                                    data-enable-pagination="no"
                                  >
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h8-carousel-img-4.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h8-carousel-img-4.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h8-carousel-img-5.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h8-carousel-img-5.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h4.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h4.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="vc_empty_space"
                                  style="height: 54px"
                                >
                                  <span class="vc_empty_space_inner"></span>
                                </div>
                                <div
                                  class="edgtf-clients-carousel-holder edgtf-cc-hover-roll-over"
                                >
                                  <div
                                    class="edgtf-cc-inner edgtf-owl-slider"
                                    data-number-of-items="3"
                                    data-enable-loop="yes"
                                    data-enable-autoplay="yes"
                                    data-slider-speed="7000"
                                    data-slider-speed-animation="600"
                                    data-enable-navigation="no"
                                    data-enable-pagination="no"
                                  >
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h8.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h8.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h9.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h9.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h7.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h7.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h6.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h6.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h5.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h5.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h4.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h4.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                    <div class="edgtf-cc-item">
                                      <a
                                        itemprop="url"
                                        class="edgtf-cc-link edgtf-block-drag-link"
                                        href="#"
                                        target="_self"
                                      >
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-image"
                                          src="{% static 'wp-content/uploads/2017/11/h3.png'%}"
                                          alt="a"
                                        />
                                        <img
                                          itemprop="image"
                                          class="edgtf-cc-hover-image"
                                          src="{% static 'wp-content/uploads/2017/11/h3.png'%}"
                                          alt="a"
                                        />
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
