{% extends 'base.html' %} {% load static %} {% block title %} Smart Solutions4u
{% endblock title %} {% block content %}
<!--**********************************
Content body start
***********************************-->
<a id="edgtf-back-to-top" href="#">
  <span class="edgtf-icon-stack">
    <span aria-hidden="true" class="edgtf-icon-font-elegant arrow_up"></span>
  </span>
  <span class="edgtf-icon-stack edgtf-icon-stack-hover">
    <span aria-hidden="true" class="edgtf-icon-font-elegant arrow_up"></span>
  </span>
</a>
<div class="edgtf-content" style="margin-top: -70px">
  <div class="edgtf-content-inner">
    <div
      class="edgtf-title-holder edgtf-centered-type edgtf-preload-background edgtf-has-bg-image edgtf-bg-parallax"
      style="
        height: 590px;
        background-image: url(https://iptvintel.com/img.jpg);
      "
      data-height="520"
    >
      <div class="edgtf-title-image">
        <img itemprop="image" src="https://iptvintel.com/img.jpg" alt="k" />
      </div>
      <div class="edgtf-title-wrapper">
        <div class="edgtf-title-inner">
          <div class="edgtf-grid">
            {% if name %}
            <h4 style="color: #00000">Hello {{ name }}</h4>
            
            <h4 style="color: #00000">
               Your Message is well received"
            </h4>
            {% else %}
            <h1 class="edgtf-page-title entry-title" style="color: #00000">
              JOIN OUR TEAM
            </h1>
            {% endif %}
            
           
          </div>
        </div>
      </div>
    </div>

    <div class="edgtf-full-width">
      <div class="edgtf-full-width-inner">
        <div class="edgtf-grid-row">
          <div class="edgtf-page-content-holder edgtf-grid-col-12">
            <div
              class="vc_row wpb_row vc_row-fluid vc_custom_1510750270040 edgtf-content-aligment-left"
            >
              <div
                class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12"
              >
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div
                      class="edgtf-background-subtitle edgtf-align-left edgtf-rotate edgtf-animate"
                      style="
                        color: rgba(17, 17, 17, 0.03);
                        left: -25%;
                        top: 21%;
                        font-size: 240px;
                      "
                      data-font-size="200px"
                      data-horizontal-offset="-37%"
                      data-vertical-offset="39%"
                    >
                      <div class="edgtf-background-subtitle-inner">OFFICE</div>
                    </div>
                    <div
                      class="edgtf-elements-holder edgtf-one-column edgtf-responsive-mode-1280"
                    >
                      <div
                        class="edgtf-eh-item"
                        data-item-class="edgtf-eh-custom-9709"
                        data-1280-1600="0px 5% 0 20.5%"
                        data-1024-1280="0px 4% 0 16%"
                        data-768-1024="0px 18% 0 10.5%"
                        data-680-768="0px 9% 0 10%"
                        data-680="0px 0% 0 9%"
                      >
                        <div class="edgtf-eh-item-inner">
                          <div
                            class="edgtf-eh-item-content edgtf-eh-custom-9709"
                            style="padding: 0px 5% 0 28%"
                          >
                            <div class="wpb_text_column wpb_content_element">
                              <div class="wpb_wrapper">
                                {% if name %}
                                <h2 style="color: #00000">Thank you {{ name }} for applying.</h2>
                                <h4 style="color: #00000">
                                  "We have received your application and we will respond as soon as
                                  posible"
                                </h4>
                                {% else %}
                                <h4>
                                  We are always looking for talented developers
                                  and designers to join our team.
                                </h4>
                                <h4>
                                  fill in the form and attach your resume and we
                                  will get back to you.
                                </h4>
                                {% endif %}
                                
                              </div>
                            </div>
                            <div class="vc_empty_space" style="height: 61px">
                              <span class="vc_empty_space_inner"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="edgtf-elements-holder edgtf-two-columns edgtf-responsive-mode-680 edgtf-one-column-alignment-left"
                    >
                      <div
                        class="edgtf-eh-item"
                        data-item-class="edgtf-eh-custom-8642"
                        data-1280-1600="0px 0% 0 41%"
                        data-1024-1280="0px 0% 0 31.5%"
                        data-768-1024="0px 0% 57px 21%"
                        data-680-768="0 0 57px 20%"
                        data-680="1px 0% 0 8%"
                      >
                        <div class="edgtf-eh-item-inner">
                          <div
                            class="edgtf-eh-item-content edgtf-eh-custom-8642"
                            style="padding: 0 0% 0 56%"
                          >
                            <div class="wpb_text_column wpb_content_element">
                              <div class="wpb_wrapper">

                                {% if name %}
                                
                                {% else %}
                                <h5>
                                  <a
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    >You will require the following documents</a
                                  >
                                </h5>
                                <h5>
                                  <a>-Resume/CV</a>
                                </h5>
                                <h5>
                                  <a>-cover letter</a>
                                </h5>
                                <h5>
                                  <a>-Portfolio</a>
                                </h5>
                                <h5>
                                  <a>- Other Certifications (If available)</a>
                                </h5>
                                <h5>
                                  <a
                                    >- Government-issued personal identification
                                    document (social security number,
                                    state-issued driver's license, individual
                                    taxpayer identification number, or
                                    passport.)</a
                                  >
                                </h5>
                              
                               
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-12 vc_col-sm-offset-0 vc_col-xs-12"
              >
                <div class="vc_column-inner vc_custom_1510749201495">
                  <div class="wpb_wrapper">
                    <div
                      class="wpb_text_column wpb_content_element vc_custom_1509537118802"
                    >
                      <div class="wpb_wrapper">
                        <h4>Reach out to us below</h4>
                      </div>
                    </div>
                    <div class="vc_empty_space" style="height: 24px">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                    <div role="form" class="wpcf7" lang="en-US" dir="ltr">
                      <div class="screen-reader-response">
                        <p
                          role="status"
                          aria-live="polite"
                          aria-atomic="true"
                        ></p>
                        <ul></ul>
                      </div>
                      <div class="row">
                        <form
                          action="/Job_application"
                          method="post"
                          enctype="multipart/form-data"
                        >
                          {% csrf_token %}
                          <div>
                            <div class="edgtf-grid-row edgtf-grid-small-gutter">
                              <div class="edgtf-grid-col-6">
                                <span
                                  class="wpcf7-form-control-wrap edgtf-name"
                                >
                                  <input
                                    type="text"
                                    name="name"
                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                    aria-required="true"
                                    placeholder="Your Name/Names"
                                  />
                                </span>
                              </div>
                              <div class="edgtf-grid-col-6">
                                <span
                                  class="wpcf7-form-control-wrap edgtf-email"
                                >
                                  <input
                                    type="email"
                                    name="email"
                                    placeholder="Your Email"
                                  />
                                </span>
                              </div>
                            </div>
                            <div class="edgtf-grid-row">
                              <div class="edgtf-grid-col-12">
                                <span
                                  class="wpcf7-form-control-wrap edgtf-email"
                                ><style>
                                  .form-control {
                                    background-color: #FCFCFC;
                                    border: 1px solid #fff;
                                    caret-color: #fff;
                                    color: #fff;
                                    height: 45px;
                                    margin-top: 14px;
                                  }

                                  .form-control:focus {
                                    background-color: #FCFCFC;
                                    box-shadow: none;
                                    border: 1px solid #fff;
                                    color: #fff;
                                  }

                                  .form-select {
                                    background-color: #FCFCFC;
                                    border: 1px solid #000000;
                                    color: #000000;
                                    font-size: 15px;
                                    height: 45px;
                                  }

                                  .form-select:focus {
                                    box-shadow: none;
                                    border: 1px solid #fff;
                                  }
                                </style>
                                <select
                                  class="form-select mt-3 form-select-lg mb-3"
                                  name="hire"
                                  id="hire"
                                >
                                  <option  value="one of us but did not choose job description" ></option>
                                  <option value="Full stack Manager">Programmer</option>
                                  <option value="Customer Service Representative">Graphic designer</option>
                                  <option value="Social Media Metrics Analyst">Social Media Manager</option>
                                </select>
                                </span>
                              </div>
                            </div>
                            <div class="edgtf-grid-row">
                              <div class="edgtf-grid-col-12">
                                <span
                                  class="wpcf7-form-control-wrap edgtf-comment"
                                >
                                  <textarea
                                    name="message"
                                    cols="40"
                                    rows="10"
                                    class="wpcf7-form-control wpcf7-textarea"
                                    placeholder="Tell us about yourself:(available positions are website developer, mobile app developer, graphic designer and social media managers.)"
                                  ></textarea>
                                </span>
                              </div>
                            </div>
                            
                          </div>
                          <input
                            type="submit"
                            value="Submit"
                            class="wpcf7-form-control has-spinner wpcf7-submit"
                          />
                        </form>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="vc_empty_space" style="height: 61px">
              <span class="vc_empty_space_inner"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
