{% extends 'base.html' %} {% load static %} {% block title %} Smart
Solutions4u{% endblock title %} {% block content %}
<!--**********************************
            Content body start
        ***********************************-->
<a id="edgtf-back-to-top" href="#">
  <span class="edgtf-icon-stack">
    <span aria-hidden="true" class="edgtf-icon-font-elegant arrow_up"></span>
  </span>
  <span class="edgtf-icon-stack edgtf-icon-stack-hover">
    <span aria-hidden="true" class="edgtf-icon-font-elegant arrow_up"></span>
  </span>
</a>
<div class="edgtf-content" style="margin-top: -70px">
  <div class="edgtf-content-inner">
    <div
      class="edgtf-title-holder edgtf-standard-type edgtf-preload-background edgtf-has-bg-image edgtf-bg-parallax"
      style="
        height: 480px;
        background-image: url(https://iptvintel.com/contact.jpg);
      "
      data-height="410"
    >
      <div class="edgtf-title-image">
        <img
          itemprop="image"
          src="https://iptvintel.com/contact.jpg"
          alt="a"
        />
      </div>
      <div class="edgtf-title-wrapper">
        <div class="edgtf-title-inner">
          <div class="edgtf-grid">
            <h3 class="edgtf-page-title entry-title">Photo Manipulation and advert design</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="edgtf-container">
      <div class="edgtf-container-inner clearfix">
        <div class="edgtf-portfolio-single-holder edgtf-ps-small-slider-layout">
          <div class="edgtf-grid-row">
            <div class="edgtf-grid-col-8">
              <div class="edgtf-ps-image-holder">
                <div class="edgtf-ps-image-inner edgtf-owl-slider">
                  <div class="edgtf-ps-image">
                    <a
                      itemprop="image"
                      title="port-4-gallery-1"
                      data-rel="prettyPhoto[single_pretty_photo]"
                      href="https://iptvintel.com/P4.jpg"
                    >
                      <img
                        itemprop="image"
                        src="https://iptvintel.com/P4.jpg"
                        alt="a"
                      />
                    </a>
                  </div>
                  
                  
                </div>
              </div>
            </div>
            <div class="edgtf-grid-col-4">
              <div class="edgtf-ps-info-holder">
                <div class="edgtf-ps-info-item edgtf-ps-content-item">
                  <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                              <h2>Photo & advert design</h2>
                            </div>
                          </div>
                          <div
                            class="wpb_text_column wpb_content_element vc_custom_1509612364866"
                          >
                            <div class="wpb_wrapper">
                              <p>Photo Manipulation and advert design. Software used: Photoshop, illustrator and Indesign.</p>
                            </div>
                          </div>
                          <a
                            itemprop="url"
                            
                            target="_self"
                            style="
                              color: #000000;
                              background-color: #ffef3c;
                              border-color: #ffef3c;
                              text-transform: uppercase;
                              margin: 0 0 35px 0;
                            "
                            class="edgtf-btn edgtf-btn-medium edgtf-btn-solid edgtf-btn-plus-sign edgtf-btn-with-cover-fx"
                          >
                            <span class="edgtf-btn-text">Photo & advert design</span>
                            <div class="edgtf-btn-cover">
                              <span class="edgtf-btn-text edgtf-btn-cover-text">
                                <span>Graphics design</span>
                              </span>
                              <div class="edgtf-btn-cover-bgrnd"></div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <h5 class="edgtf-ps-info-title">Info</h5>
                <div class="edgtf-ps-info-item edgtf-ps-categories">
                  <p class="edgtf-ps-info-label">Software used:</p>
                  <a
                    itemprop="url"
                    class="edgtf-ps-info-category"
                    
                    >Photoshop</a
                  >
                </div>
                <div class="edgtf-ps-info-item edgtf-ps-date">
                  <p class="edgtf-ps-info-label"></p>
                  <p
                    itemprop="dateCreated"
                    class="edgtf-ps-info-date entry-date updated"
                  >illustrator</p>
                  <meta itemprop="interactionCount" content="UserComments: 0" />
                </div>
                <div class="edgtf-ps-info-item edgtf-ps-date">
                  <p class="edgtf-ps-info-label"></p>
                  <p
                    itemprop="dateCreated"
                    class="edgtf-ps-info-date entry-date updated"
                  >Indesign</p>
                  <meta itemprop="interactionCount" content="UserComments: 0" />
                </div>
                <div class="edgtf-ps-info-item edgtf-ps-tags">
                  <p class="edgtf-ps-info-label"></p>
                  <a
                    itemprop="url"
                    class="edgtf-ps-info-tag"
                   
                    >Design</a
                  >
                  
                </div>
                <div class="edgtf-ps-info-item edgtf-ps-social-share">
                  <h5 class="edgtf-ps-info-title">Like</h5>
                  <div class="edgtf-social-share-holder edgtf-list">
                    <div id="container">
                      <div class="heart-like-button"></div>
                    </div>
                      
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="edgtf-ps-navigation">
            <div class="edgtf-ps-prev">
              <a
                href="{% url 'portfolio3'%}"
                rel="prev"
                ><span class="edgtf-portfolio-single-nav-background-label"
                  >Prev</span
                ><span class="edgtf-portfolio-single-nav-label"
                  >Previous project</span
                ></a
              >
            </div>
            <div class="edgtf-ps-back-btn">
              <a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>
            <div class="edgtf-ps-next">
              <a
                href="{% url 'portfolio5'%}"
                rel="next"
                ><span class="edgtf-portfolio-single-nav-background-label"
                  >Next</span
                ><span class="edgtf-portfolio-single-nav-label"
                  >Next project</span
                ></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const button = document.querySelector(".heart-like-button");

  button.addEventListener("click", () => {
    if (button.classList.contains("liked")) {
      button.classList.remove("liked");
    } else {
      button.classList.add("liked");
    }
  });
</script>
{% endblock content %}